.footer{
    margin-top: 50px;
    padding-top: 30px;
    height: 372px;
    width: 100%;
    background-color: rgb(30, 39, 68);

    color: rgb(70, 167, 206);
    text-align: center;
}

.footer p{
    color: rgba(220, 128, 19, 0.919);
    line-height: 20px;
}
.social{
    width: 200px;
    filter: invert(100%);
}
.footerlist{
    text-decoration: none;
    list-style: none;
}
.listdiv{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
