
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color: gold;
}
.card img{
    height: 250px;   
    border-radius: 5%; 
}
.card{
    padding: 10px;
    border-radius: 2%;
    background-color:rgba(120, 151, 192, 0.767);
    box-shadow: 4px 4px 8px rgba(38, 94, 139, 0.534);
    transition: 0.25s;
}
.card:hover {
    background-color: rgba(105, 138, 91, 0.884);
    box-shadow: 10px 10px 20px rgba(58, 126, 67, 0.527);
    transform: scale(1.02);
  }
  .btn{
    background-color:rgb(122, 149, 189);
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.25s;
    border: 4px solid rgba(44, 30, 61, 0.555);
}
.btn:hover{
    background-color:rgb(75, 145, 185);
    transform: scale(1.05);
}
p{
    line-height: 5px;
    color: rgb(31, 20, 71);
}
.btnPosition{
    margin-top: 10px;
    text-align: center;
}
h4{
    color: rgba(23, 58, 71, 0.884);
    padding-bottom: 5px;
}
.wait{
    background: rgba(66, 146, 84, 0.89); 
      padding: 10px;
      position: fixed;
      top: 40%;
      left: 40%;
      z-index: 100;
      height: 200px;
      width: 300px;
      border-radius: 7%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid;
}
.waitext{
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content:space-around;
}